html{
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, p{
    font-family: 'Lato', sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
}
.name{
    text-align: center;
}
.popup ul{
    display: none;
}
.popButton button{
    background-color: rgb(125, 125, 125);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#education > ul > li{
    list-style-type: none;
}
iframe{
    display: none;
}